/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	position: relative;
	margin: 60px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3,
.icon-1,
.icon-2,
.icon-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.imagery-1,
.imagery-2,
.imagery-3 {
	height: 200px;
	width: 300px;
}

.label {
	position: absolute;
	left: -30px;
	top: -30px;	
}

/* Figure */
figure, 
figure p {
	width: 200px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

/*Style Tile*/

  /*color palette*/
.color-1{
	background-color: #946A33;
}

.color-2{
	background-color: #943333;
}

.color-3{
	background-color: #33947C;
}

.color-4{
	background-color: #CCAD85;
}

/*patterns*/

.pattern-1{
	background: url(../img/purty_wood.png);
}

.pattern-2{
	background: url(../img/subtle_stripes.png);
}

.pattern-3{
	background: url(../img/swirl.png);
}